# Front dependencies
src/main/webapp/assets/node_modules
src/main/webapp/node_modules
src/main/webapp/bower_components

.[pP]roject
.[pP]roject
.metadata
.metadata/*
.classpath
.classpath/*
.settings
.settings/*
[tT]arget
[tT]arget/*
*.war
*.class
*.orig
*.
.classpath

