# Front dependencies
src/main/webapp/assets/node_modules

.[pP]roject
.[pP]roject
.metadata
.metadata/*
.classpath
.classpath/*
.settings
.settings/*
[tT]arget
[tT]arget/*
*.war
*.class
*.orig
*.
.classpath

